{# Baseline Configuration
   Usage: This template has all the addressing required for baseline configuration on all 
   devices.
   Step 1: Verify ssh access to devices using the ansible playbook "verify-ssh.yml"
   Step 2: Load this template using the reset-device.py script. This script is designed
   to automatically push the configuration templates to all student devices from the instructor workstation using this template as the reference.
#}
{% if host['device'] == 'r1' or host['device'] == 'r2' or host['device'] == 'r3' or host['device'] == 'r4'%}
!
version 16.6
!
service timestamps debug datetime msec
service timestamps log datetime msec
no platform punt-keepalive disable-kernel-core
!
hostname {{host.device | capitalize}}
!
parser config cache interface
!
banner motd ^ * {{host}}.baseline - configured via nornirv2 *^
!
boot-start-marker
boot-end-marker
!
vrf definition Mgmt-intf
 !
 address-family ipv4
 exit-address-family
 !
 address-family ipv6
 exit-address-family
!
!
interface GigabitEthernet0
 vrf forwarding Mgmt-intf
 ip address {{host.hostname}} 255.255.255.0
 negotiation auto
 no shutdown
!
no aaa new-model
!
no ip domain lookup
ip domain name ccnp.lab
!
subscriber templating
multilink bundle-name authenticated
!
ip ssh version 2
!
spanning-tree extend system-id
!
username cisco privilege 15 secret 9 $9$1EYvMqgeWzUxQE$uejsRN14FZ5qu.gNNAxQS55CElW02l1CiAHrNII.CoQ
username instructor privilege 15 secret 9 $9$YBcNNZMrfGYSYH$XDw1U8i7vijz6Vtb5WV2ozXR8Sa93OYIjqiFlv7whZ2
!
enable secret 9 $9$sUIfsB68Uqce5r$tCaARZpg.gratFSdopNtBOp9LEJ8QrXG24JovapeE8E
!
redundancy
 mode none
!
vlan internal allocation policy ascending
!
interface GigabitEthernet0/0/0
 no ip address
 shutdown
 negotiation auto
!
interface GigabitEthernet0/0/1
 no ip address
 shutdown
 negotiation auto
!
interface GigabitEthernet0/0/2
 no ip address
 shutdown
 negotiation auto
!
interface Serial0/1/0
 no ip address
 shutdown
!
interface Serial0/1/1
 no ip address
 shutdown
!
interface Vlan 1
 no ip address
 shutdown
!
ip forward-protocol nd
no ip http server
no ip http secure-server
!
control-plane
!
ip tftp source-interface G0
!
alias exec reset.now tclsh flash:ccnp/enarsi/reset.tbc
alias exec reset.hard tclsh flash:ccnp/scripts/reset.tbc
alias exec reset.soft config replace flash:ccnp/base/base.cfg force
alias exec enarsi.lab tclsh flash:ccnp/scripts/enarsi-lab.tcl
alias exec enarsi.soft tclsh flash:ccnp/scripts/enarsi-soft.tcl
!
line con 0
 logging synchronous
 login local
 stopbits 1
line aux 0
 stopbits 1
line vty 0 15
 logging synchronous
 login local
 transport input all
line vty 16 97
 logging synchronous
 login local
 transport input all
!
!
end

{% elif host['device'] == 'd1' or host['device'] == 'd2'%}
version 16.6
!
no service pad
service timestamps debug datetime msec
service timestamps log datetime msec
no platform punt-keepalive disable-kernel-core
!
hostname {{host.device | capitalize}}
!
banner motd ^ * {{host}}.baseline - configured via nornirv2 *^
!
parser config cache interface
!
vrf definition Mgmt-vrf
 !
 address-family ipv4
 exit-address-family
 !
 address-family ipv6
 exit-address-family
!
no aaa new-model
switch 1 provision ws-c3650-24ts
!
no ip domain lookup
ip domain name ccnp.lab
!
cpp system-default
!
diagnostic bootup level minimal
spanning-tree mode rapid-pvst
spanning-tree extend system-id
!
username cisco privilege 15 secret 9 $9$1EYvMqgeWzUxQE$uejsRN14FZ5qu.gNNAxQS55CElW02l1CiAHrNII.CoQ
username instructor privilege 15 secret 9 $9$YBcNNZMrfGYSYH$XDw1U8i7vijz6Vtb5WV2ozXR8Sa93OYIjqiFlv7whZ2
!
enable secret 9 $9$sUIfsB68Uqce5r$tCaARZpg.gratFSdopNtBOp9LEJ8QrXG24JovapeE8E
!
redundancy
 mode sso
!
class-map match-any system-cpp-police-topology-control
  description Topology control
class-map match-any system-cpp-police-sw-forward
  description Sw forwarding, L2 LVX data, LOGGING
class-map match-any system-cpp-default
  description DHCP Snooping, EWLC control, EWCL data
class-map match-any system-cpp-police-sys-data
  description Learning cache ovfl, Crypto Control, Exception, EGR Exception, NFL SAMPLED DATA, Gold Pkt, RPF Failed
class-map match-any system-cpp-police-punt-webauth
  description Punt Webauth
class-map match-any system-cpp-police-l2lvx-control
  description L2 LVX control packets
class-map match-any system-cpp-police-forus
  description Forus Address resolution and Forus traffic
class-map match-any system-cpp-police-multicast-end-station
  description MCAST END STATION
class-map match-any system-cpp-police-multicast
  description Transit Traffic and MCAST Data
class-map match-any system-cpp-police-l2-control
  description L2 control, FSS
class-map match-any system-cpp-police-dot1x-auth
  description DOT1X Auth
class-map match-any system-cpp-police-data
  description ICMP redirect, ICMP_GEN and BROADCAST
class-map match-any system-cpp-police-control-low-priority
  description General punt
class-map match-any non-client-nrt-class
class-map match-any system-cpp-police-routing-control
  description Routing control
class-map match-any system-cpp-police-protocol-snooping
  description Protocol snooping
!
policy-map system-cpp-policy
 class system-cpp-police-data
  police rate 600 pps
 class system-cpp-police-sys-data
  police rate 100 pps
 class system-cpp-police-sw-forward
  police rate 1000 pps
 class system-cpp-police-multicast
  police rate 500 pps
 class system-cpp-police-multicast-end-station
  police rate 2000 pps
 class system-cpp-police-punt-webauth
  police rate 1000 pps
 class system-cpp-police-l2-control
  police rate 500 pps
 class system-cpp-police-routing-control
  police rate 1800 pps
 class system-cpp-police-control-low-priority
  police rate 200 pps
 class system-cpp-police-l2lvx-control
  police rate 1000 pps
 class system-cpp-police-topology-control
  police rate 13000 pps
 class system-cpp-police-dot1x-auth
  police rate 1000 pps
 class system-cpp-police-protocol-snooping
  police rate 2000 pps
 class system-cpp-police-forus
  police rate 1000 pps
 class system-cpp-default
  police rate 1000 pps
!
interface GigabitEthernet0/0
 vrf forwarding Mgmt-vrf
 ip address {{host.hostname}} 255.255.255.0
 speed 1000
 negotiation auto
 no shutdown
!
interface GigabitEthernet1/0/1
!
interface GigabitEthernet1/0/2
!
interface GigabitEthernet1/0/3
!
interface GigabitEthernet1/0/4
!
interface GigabitEthernet1/0/5
!
interface GigabitEthernet1/0/6
!
interface GigabitEthernet1/0/7
!
interface GigabitEthernet1/0/8
!
interface GigabitEthernet1/0/9
!
interface GigabitEthernet1/0/10
!
interface GigabitEthernet1/0/11
!
interface GigabitEthernet1/0/12
!
interface GigabitEthernet1/0/13
!
interface GigabitEthernet1/0/14
!
interface GigabitEthernet1/0/15
!
interface GigabitEthernet1/0/16
!
interface GigabitEthernet1/0/17
!
interface GigabitEthernet1/0/18
!
interface GigabitEthernet1/0/19
!
interface GigabitEthernet1/0/20
!
interface GigabitEthernet1/0/21
!
interface GigabitEthernet1/0/22
!
interface GigabitEthernet1/0/23
!
interface GigabitEthernet1/0/24
!
interface GigabitEthernet1/1/1
!
interface GigabitEthernet1/1/2
!
interface GigabitEthernet1/1/3
!
interface GigabitEthernet1/1/4
!
interface Vlan 1
 no ip address
 shutdown
!
ip forward-protocol nd
ip http server
ip http secure-server
ip ssh server algorithm encryption aes128-ctr aes192-ctr aes256-ctr
ip ssh client algorithm encryption aes128-ctr aes192-ctr aes256-ctr
!
!
control-plane
 service-policy input system-cpp-policy
!
!
ip tftp source-interface G0/0
!
vstack
alias exec reset.now tclsh flash:ccnp/enarsi/reset.tbc
alias exec reset.hard tclsh flash:ccnp/scripts/reset.tbc
alias exec reset.soft config replace flash:ccnp/base/base.cfg force
alias exec enarsi.lab tclsh flash:ccnp/scripts/enarsi-lab.tcl
alias exec enarsi.soft tclsh flash:ccnp/scripts/enarsi-soft.tcl
!
line con 0
 logging synchronous
 login local
 stopbits 1
line aux 0
 stopbits 1
line vty 0 15
 logging synchronous
 login local
 transport input all
line vty 16 97
 logging sync
 login local
 transport input all
!
ip ssh version 2
!
end

{% elif host['device'] == 'a1' or host['device'] == 'a2' %}
!
version 15.2
!
no service pad
service timestamps debug datetime msec
service timestamps log datetime msec
no service password-encryption
!
hostname {{host.device | capitalize}}
!
parser config cache interface
!
banner motd ^ * {{host}}.baseline - configured by nornirv2 *^
!
boot-start-marker
boot-end-marker
!
username cisco privilege 15 secret 9 $9$1EYvMqgeWzUxQE$uejsRN14FZ5qu.gNNAxQS55CElW02l1CiAHrNII.CoQ
username instructor privilege 15 secret 9 $9$YBcNNZMrfGYSYH$XDw1U8i7vijz6Vtb5WV2ozXR8Sa93OYIjqiFlv7whZ2
enable secret 9 $9$sUIfsB68Uqce5r$tCaARZpg.gratFSdopNtBOp9LEJ8QrXG24JovapeE8E
!
no aaa new-model
switch 1 provision ws-c2960x-24ts-l
!
!
no ip domain-lookup
ip domain-name ccnp.lab
!
spanning-tree mode pvst
spanning-tree extend system-id
!
ip ssh version 2
!
vlan internal allocation policy ascending
!
interface FastEthernet0
 ip address {{host.hostname}} 255.255.255.0
!
interface GigabitEthernet1/0/1
!
interface GigabitEthernet1/0/2
!
interface GigabitEthernet1/0/3
!
interface GigabitEthernet1/0/4
!
interface GigabitEthernet1/0/5
!
interface GigabitEthernet1/0/6
!
interface GigabitEthernet1/0/7
!
interface GigabitEthernet1/0/8
!
interface GigabitEthernet1/0/9
!
interface GigabitEthernet1/0/10
!
interface GigabitEthernet1/0/11
!
interface GigabitEthernet1/0/12
!
interface GigabitEthernet1/0/13
!
interface GigabitEthernet1/0/14
!
interface GigabitEthernet1/0/15
!
interface GigabitEthernet1/0/16
!
interface GigabitEthernet1/0/17
!
interface GigabitEthernet1/0/18
!
interface GigabitEthernet1/0/19
!
interface GigabitEthernet1/0/20
!
interface GigabitEthernet1/0/21
!
interface GigabitEthernet1/0/22
!
interface GigabitEthernet1/0/23
!
interface GigabitEthernet1/0/24
!
interface GigabitEthernet1/0/25
!
interface GigabitEthernet1/0/26
!
interface GigabitEthernet1/0/27
!
interface GigabitEthernet1/0/28
!
interface Vlan 1
 no ip address
 shutdown
!
ip http server
ip http secure-server
!
!
ip tftp source-interface F0
!
vstack
alias exec reset.now tclsh flash:ccnp/enarsi/reset.tbc
alias exec reset.hard tclsh flash:ccnp/scripts/reset.tbc
alias exec reset.soft config replace flash:ccnp/base/base.cfg force
alias exec enarsi.lab tclsh flash:ccnp/scripts/enarsi-lab.tcl 
alias exec enarsi.soft tclsh flash:ccnp/scripts/enarsi-soft.tcl
!
line con 0
 logging synchronous
 login local
line vty 0 15
 logging synchronous
 login local
 transport input all
!
!
end

{% else %}
{% endif %}
